[[source]]
url = "https://pypi.mirrors.ustc.edu.cn/simple/"
verify_ssl = true
name = "pypi"

[packages]
simpleitk = "*"
numpy = "*"
tqdm = "*"
pathos = "*"
torch = "==0.4.1"
scipy = "*"
scikit-image = "==0.13.1"
matplotlib = "==2.2.3"
torchvision = "*"

[dev-packages]
pylint = "<2.0.0"

[requires]
python_version = "2.7"
